.App-header {
  background-color: royalblue;
  min-height: 2vh;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 1vmin);
  color: black;
}

.App-main {
  background-color: royalblue;
  flex-direction: column;
  text-align: center;

  min-height: 60vh;
  margin-bottom: 5rem;
}

.App-footer {
  background-color: royalblue;
  text-align: center;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
